<section class="section">
	<main class="grid w-full place-content-center text-zinc-300/50">
		<p>
			Copyright 2023; Craft with 💙 by <span class="logo  to-blue-800">WebyDevGroup</span>
		</p>
	</main>
</section>
