<section
	class="bg-bg-primary ring-bg-primary z-50 flex h-screen w-[21rem] flex-col justify-between border-r border-dashed border-red-500/30 p-8 ring ring-offset-transparent"
>
	<div class="flex flex-col gap-2">
		<h1 class="logo pb-2 text-3xl">WebyDevGroup</h1>
		<p class="text-base leading-6 tracking-wider text-zinc-600">
			We are a group of 6 friends passionate about web development, new technologies. By pooling our
			knowledge and resources, we aim to accelerate our growth as web developers and tech field.
		</p>
	</div>
	<a
		class="cursor-pointer text-red-500/50 underline decoration-dashed underline-offset-4"
		href="http://github.com/WebDevGroup/weby"
		target="_blank">Github</a
	>
</section>
