<nav
	class="relative z-[999] h-[100svh] w-20 flex-shrink-0 overflow-hidden border-r border-clr-border-secondary"
>
	<div class="absolute bottom-1/2 left-0 w-full -rotate-90">
		<div
			class="flex h-20 w-fit animate-running-text items-center overflow-hidden bg-clr-bg-secondary"
		>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
			<span>WDG</span>
			<span>WebyDevGroup</span>
		</div>
	</div>
</nav>
<style>
	span {
		@apply border-r border-clr-border-secondary px-6 font-logo text-2xl font-black text-clr-border-secondary last-of-type:border-r-0;
	}
</style>
