<nav
	class="relative z-50 h-screen w-20 flex-shrink-0 border-r border-clr-border-secondary bg-clr-bg-secondary p-8 ring ring-clr-bg-primary ring-offset-transparent"
>
	<h1 class="logo-muted absolute -left-16 top-28 w-fit -rotate-90 pb-2 text-2xl">WebyDevGroup</h1>
</nav>
