---
const { name, jobTitle } = Astro.props
---

<div
	class="w-full rounded-md border border-clr-border-secondary bg-clr-bg-primary px-5 py-2 hover:bg-clr-bg-secondary"
>
	<span class="h-12 w-12 rounded-full bg-clr-bg-secondary px-1 text-clr-text-primary"
		><i class="bi bi-person-fill h-full w-full"></i></span
	>
	<a
		href="https://github.com/orgs/WebyDevGroup/people"
		target="_blank"
		class="cursor-pointer pl-2 text-lg text-clr-text-primary">{name}</a
	><br />
	<span class="pl-8 text-xs text-clr-text-secondary">{jobTitle}</span>
</div>
