<p class="text-base leading-6 tracking-wider text-zinc-600">
  We are a group of 6 friends passionate about web development, new technologies. By pooling our
  knowledge and resources, we aim to accelerate our growth as web developers and tech field.
</p>